<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.springframework.org/tags/form">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Include _menu.html -->

<h2>New Parking Lot</h2>

<form action="#" th:action="@{/admin/addZonetoLot/add}" th:object="${zonedesignation}" method="post">
    <p>Parking Lot Name: <input type="text" th:field="*{lot_name}" /></p>
    <p>Zone to Assign: <input type="text" th:field="*{zone}" /></p>
    <p>Space# From: <input type="text" th:field="*{from}" /></p>
    <p>Space# To: <input type="text" th:field="*{to}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>
</body>
</html>