<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
</head>

<body>

<!-- Include _menu.html -->
<th:block th:include="_menu"></th:block>

<h2>Message : <span th:utext="${message}"></span></h2>


<a th:href="@{/user/addVehicle}">Add Vehicle</a><br>
<a th:href="@{/user/removeVehicle}">Remove Vehicle</a><br>
<a th:href="@{/user/replaceVehicle}">Replace Vehicle</a><br>
<br>
<p>Pay Citation:</p>
<form th:action="@{/user/citations/pay}">
    <input type="text" th:name="c_no">


    <input type="submit"/>
</form>
</body>
</html>