<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- Include _menu.html -->
<th:block th:include="_menu"></th:block>
<div align="center">
    <h1>Vehicle Records</h1>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Manf</th>
            <th>Model</th>
            <th>Year</th>
            <th>Color</th>
            <th>LICENSE</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vehicle : ${vehicles}">
            <td th:text="${vehicle.manufacturer}">manufacturer</td>
            <td th:text="${vehicle.model}">model</td>
            <td th:text="${vehicle.year}">year</td>
            <td th:text="${vehicle.color}">color</td>
            <td th:text="${vehicle.license_plate_no}">license_plate_no</td>
            <td>

            </td>
        </tr>
        </tbody>
    </table>
</div>



</body>
</html>